body {
	background: #333333 /* url('login/back.jpg') top center no-repeat; */ ;
}

#logo {
	text-align: center;
	padding-top:10px;
	/* background: #FAFAFA; */
	margin-bottom:20px;
}

#logo img {
	height:150px;
}
#content {
	width:450px;
	margin-left: auto;
	margin-right: auto;
	margin-top:150px;
}

#content .panel {
	border-radius: 0px;
}

#content .panel-heading {
	border-radius: 0px;
	
}

h3.panel-title {
	font-family:'Open Sans Bold';
	text-transform: uppercase;
	text-align:center;
}

#content form {
	padding:20px;
	background:#FAFAFA;
}

#content .help-block {
	margin-bottom:0px;
}

#content .form-actions .btn {
	font-family:'Open Sans Bold';
	text-transform: uppercase;
}