table.surat td, table.surat th {
	padding:3px;
}

#content a:hover {
	text-decoration: none;
}
#header {
	display:block;
	background:#EEEEFF;

}

#logo {
	padding-left:23px;
	padding-top:18px;
	padding-bottom:18px;
}

#profil a {
	position:absolute;
	top:0px;
	right:0px;
	padding:5px 10px;
	background:#428BCA;
	color:#ffffff;
	font-size: 12px;
}

#profil a:hover {
	text-decoration: none;
}

#mainnav .navbar {

	border-radius:0px;
	border:0px;
	margin-bottom:0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

}

#mainnav ul.nav > li > a {
	color:#ffffff;
}

#mainnav .navbar a:hover {
	color: #ffffff;
    text-decoration: none;
    background-color: #0D79BD !important;
}

#mainnav .navbar li.open > a {
	color: #ffffff;
    text-decoration: none;
    background-color: #0D79BD !important;
}

#mainnav .navbar-default .navbar-nav>.active> a {
	background-color : #0D79BD;
}

#content h1 {
	margin-top:0px;
}

#content {
	display:block;
	width:100%;
	height:100%;
}

.form-group .help-block {
	margin-bottom:0px;
}

#sidebar {

	position: absolute;
	left:0px;
	width:230px;
	background: #3A3633;
	padding-top:20px;
	padding-bottom:20px;
}

#sidebar .nav li a {
	color:#efefef;
}

#sidebar .nav li a:hover {
	background:#444443;
}

#mainbar {
	position: relative !important;
	margin-left:240px;
}

.breadcrumbs {
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
	background:#efefef;
	border-bottom:1px solid #cccccc;
}

.info-box {
	padding:15px 20px;
	color:#ffffff;
}

.info-box .icon {
	font-size: 48px;
	margin-right: 20px;
	margin-bottom:20px;
}
.info-box .title {
	font-size:16px;
	margin-bottom:3px;
}

.info-box .content {
	text-align: left;
	font-size:22px;
	line-height: 22px;
}

#pemangku {
	margin-bottom:0px;
	padding-left:0px;
}
#pemangku li {
	list-style: none;
}