body{
	margin: auto;
	width: 960px;
	font-family: calibri;
	background-color: #4A4A4A;
}
a{
	text-decoration: none;
	color: #348FE2;
}
#wrapper{
	background-color: white;
	padding-bottom: 20px;
}
.list a:hover{
	color: black;
}
.header{
	height: 100px;
	background-color: #428BCA;	
	color: white;
	text-align: center;

}
.list{
	margin: auto;
	width: 600px;
	border: 2px dotted #CCC;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 2px;
	padding-left: 5px;
	color: #393939;
}

.list:hover{
	background-color: #F4F4F4;
}
